:root {
    --bg-color: #0D0D1A; 
    --text-color: #E0E0FF;
    --heading-color:#26264D;
    --accent-color: #5865f2;
    --discord-color: #7289da;
    --shadow-color: rgba(15, 15, 15, 0.5);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 50px;
    padding: 10px 25px;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 3em;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 2px 10px var(--shadow-color);
    margin-bottom: 25px;
}

#max{
    margin-top: -35px;
}

#max::before {
    content: 'Record crediti: ';
}

.box {
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}

.button {
    background-color: var(--heading-color);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    margin: auto 10px;
    border-radius: 50px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--shadow-color);
    transition: .3s;
    max-width: 150px;
}

.button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    scale: 1.1;
    transition: .3s;
}

select.button {
    appearance: none;
    width: 100%;
    text-align: center;
    border: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin-block: 25px;
    max-width: 800px;
}

.button-container {
    font-size: .8em;
    display: flex;
    justify-content: center;
}

#difficulty{
    width: 100%;
    
}

.reel-container {
    background-color: var(--heading-color);
    max-width: 300px;
    margin: 0 auto;
    padding: 25px 10px;
    border-radius: 50px;
    box-shadow: 0 2px 10px var(--shadow-color);
}

.reel {
    border-left: 1px solid var(--text-color);
    padding-left: 15px;
    font-size: 2.5em;
    margin-inline: 10px;
}

.reel:first-child {
    border: 0;
}

#balance:after {
    content: " crediti";
}

h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 2em;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 2px 10px var(--shadow-color);
    margin-bottom: 25px;
}

#balance {
    text-align: center;
    color: var(--text-color);
    font-size: 2em;
    margin-top: -35px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 2px 10px var(--shadow-color);
    margin-bottom: 25px;
}

#alert {
    text-align: center;
    color: var(--text-color);
    font-size: 1em;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 0 2px 10px var(--shadow-color);
    margin-bottom: 25px;
}

@keyframes spinAnimationLeft {
    0% { transform: rotateZ(0); }
    20% { transform: rotateZ(-30deg); border:0;}
    40% { transform: rotateZ(30deg); border:0;}
    60% { transform: rotateZ(-30deg); border:0; }
    80% { transform: rotateZ(0deg); border:0;}
    90% { scale:1.2; border:0;}
    100% { scale:1.5; border:0;}
}

@keyframes spinAnimationRight {
    0% { transform: rotateZ(0);border:0; }
    20% { transform: rotateZ(30deg); border:0;}
    40% { transform: rotateZ(-30deg); border:0;}
    60% { transform: rotateZ(30deg); border:0; }
    80% { transform: rotateZ(0deg); border:0;}
    90% { scale:1.2; border:0;}
    100% { scale:1.5; border:0;}
}

.spin-left {
    animation: spinAnimationLeft 1s ease-in-out;
}

.spin-right {
    animation: spinAnimationRight 1s ease-in-out;
}

input {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    width: 15px;
}

footer p {
    margin: auto;
    text-align: center;
    opacity: .5;
}

footer .discord {
    text-align: left;
    display: flex;
    color: #fff;
    justify-content: center;
    margin-top: 25px;
    background-color: var(--discord-color);
    width: 125px;
    margin: 15px auto;
    padding: 0;
    height: 50px;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 2px 10px var(--shadow-color);
    transition: .3s;
    text-decoration: none;
}

footer .discord:hover {
    background-color: var(--accent-color);
    scale: 1.1;
    cursor: pointer;
    transition: .3s;
}

table {
    border-collapse: collapse;
    margin-inline: auto;
    margin-bottom: 75px;
    box-shadow: 0 2px 10px var(--shadow-color);
}

td, th {
    border: 2.5px solid var(--heading-color);
    padding: 10px 20px;
}

td:nth-child(2)::after {
    content: ' * moltiplicatore * puntata';
}

td:last-child::after {
    content: ' * (5 - Rank) * moltiplicatore';
}

.done {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0 2px 10px var(--accent-color);
}

.bar {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    align-items: center;
    gap: 10px; 
    text-align: center;
    justify-content: center;
}

.rank-title {
    font-size: 1em;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 25%;
    text-shadow: 0 2px 10px var(--shadow-color);
}

.bar input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    background: var(--heading-color);
    transition: opacity .2s;
}

.bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: default;
}

.bar input[type="range"]:hover {
    opacity: 1;
}

#rank-value {
    font-size: 1.5em;
    letter-spacing: 4px;
}

#rank-value::before {
    content: 'XP attuali: ';
}

.hidden {
    display: none;
}